body {
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
    transition: transform .2s;
    margin: 10px;
}

img:hover {
    transform: scale(0.9);
}

h1 {
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}

#myCarousel {
    background-color: cornflowerblue;
}

#myCarousel img{
    height: 300px;
    margin-top: 45px;
}

.container {
    text-align: center;
}

.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
}

#apps {
    background-color: darksalmon;
    width: 100%;
    height: 800px;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

#chatbot {
    background-color: #FFE082;
    width: 100%;
    height: 800px;
}